
nav {
  overflow: hidden;
  background-color:#8F317F;
  margin-top: -10px;
}

nav a {
	margin: 25px;
	font-size: 25px;
  color: white;
  text-align: center;
  padding:50px;
  text-decoration: none;
}